
@import '@elastic/eui/dist/eui_theme_amsterdam_light.css';

.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background: rgb(220, 220, 220);
}

.shadow {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}